JDG_DATABASE_URL=sqlite:///./storage/jdg_studio.db
JDG_BASE_MODEL=google/flan-t5-small
JDG_ADAPTER_PATH=./storage/adapters/dev
JDG_MAX_LYRIC_CHARS=20000
JDG_MODEL_AUTOLOAD=true
JDG_ALLOW_MODEL_DOWNLOAD=false
JDG_LOG_LEVEL=INFO
HF_HOME=./storage/model-cache
